<header>
  <div class="logo">
    <a routerLink="/">
      <img src="../assets/images/logo.png" />
    </a>
  </div>
  <div class="menu">
    <ul>
      <li><a routerLink="/">home</a></li>
      <li><a routerLink="/news">news</a></li>
      <li><a routerLink="/about">about</a></li>
      <li><a routerLink="/signup">sign up</a></li>
      <li><a routerLink="/contact">contact</a></li>
    </ul>
  </div>
  <div class="menu-btn" (click)="toggleMenu()" [ngClass]="{active:isOpen}">
    <div class="line"></div>
    <div class="line"></div>
  </div>
</header>
<div class="mobile-menu" [ngClass]="{open:isOpen}">
  <ul>
    <li><a routerLink="/" (click)="toggleMenu()">home</a></li>
    <li><a routerLink="/news" (click)="toggleMenu()">news</a></li>
    <li><a routerLink="/about" (click)="toggleMenu()">about</a></li>
    <li><a routerLink="/signup" (click)="toggleMenu()">sign up</a></li>
    <li><a routerLink="/contact" (click)="toggleMenu()">contact</a></li>
  </ul>
</div>
