<div class="about-section">
  <p>
    When I was 11 years old, my mother passed away from breast cancer.
    Nearly a decade later, a psychologist diagnosed me with Post Traumatic Stress Disorder and generalized anxiety.
    The new way of life that I adapted to was symptomatic of these disorders, rather than something I viewed as normal.
  </p>
  <p>
    The healing I experienced from even one session of EMDR therapy changed my life.  The lack of access to this
    therapy frusturates me, so I have taken it into my own hands to make it accessible to everyone who suffers from PTSD
    and anxiety disorders.
  </p>
  <p>
    Please feel free to reach out to me. I would love to talk, collaborate, or potentially work together.<br />
    Best wishes,<br />
    Jarrod Luca
  </p>
</div>
