<div class="row about-section">
  <p>
    When I was 11 years old, my mother passed away from breast cancer.
    Nearly a decade later, a psychologist diagnosed me with Post Traumatic Stress Disorder and generalized anxiety.
    The new way of life that I adapted to was symptomatic of these disorders, rather than something I viewed as normal.
  </p>
  <p>
    I subsequently began EMDR therapy. The lack of access to mental health collaborate frusturates me, so I have made it my mission to create accessible therapy for everyone who suffers from PTSD
    and anxiety disorders.  We are a team of scientist, business leaders, and software engineers.
  </p>
  <p>
    Please feel free to reach out to me. I would love to talk, collaborate, or potentially work together.<br />
    Best wishes,<br />
    Jarrod Luca
  </p>
</div>
