<div class="row">
  <h2>Join the mailing list!</h2>
  <div class="head-line"></div>
  <div class="signup">
    <form *ngIf="!enterCode" [ngClass]="{fadeIn:isLoaded}">

<div class="inline-input">
      <label for="first-input">First Name</label>
      <input id="first-input"
      [(ngModel)]="firstName" name="firstName"/>
</div>
<div class="inline-input">
      <label for="last-input">Last Name</label>
      <input id="last-input"
      [(ngModel)]="lastName" name="lastName"/>
</div>
      <label for="email-input">Email</label><br />
      <input id="email-input" type="email"
      [(ngModel)]="email" name="email"/>


      <h4>I am a:</h4>
      <div [ngClass]="{selected:isPatient}"
      (click)="selectUser()" class="box p">
        Patient
      </div>
      <div [ngClass]="{selected:!isPatient}"
            (click)="selectUser()" class="box">
          Professional
      </div>
      <button (click)="signup()">Sign Up</button>
    </form>


    <form *ngIf="enterCode" [ngClass]="{fadeIn:isLoaded}">
      <h4>Enter code</h4>
      <label for="code-input">Verification code:</label>
      <input id="code-input"
      [(ngModel)]="emailCode" name="emailCode"/>

      <button (click)="verify()">Verify</button>
    </form>
  </div>
</div>
