.row {
  width:80%;
  margin: auto;

  h2 {
    text-align: center;
    margin-bottom:-5px;
  }
  .flex-container {
    flex-direction: column-reverse;
    @media screen and (min-width:600px) {
      flex-direction: row-reverse;
    }
    .post {
      padding:20px;
      &:first-child {
        padding:20px 20px 20px 0;
      }
      &:last-child {
        padding:20px 0px 20px 20px;
      }

      h3 {
        letter-spacing:0;
      }

      a {
        border-bottom:2px solid rgb(221, 216, 109);
        display: inline-block;
        margin-bottom: 10px;
      }

      img {
        max-width: 400px;
        width:100%;
      }
    }
  }
}

@media screen and (max-width:600px) {
}
