<!-- <div style="text-align:left;padding:40px">
  News and updates are coming soon!<br />
  Click <a href="/contact"style="border-bottom:3px solid rgb(239, 241, 122)">here</a> if you have questions, comments, or feedback.<br /><br />
</div> -->
<div class="row">
  <div class="col col-1-3 post">
    <h3>EMDR VR Receives Honors/Funding at Global Wellness Summit</h3>
    <a href="http://www.globalwellnesssummit.com/press/press-releases/press-release-global-wellness-summit-names-winner-shark-tank-wellness-student-competition-finalists-present-technology-solutions/">
      press release
    </a><br />
    <img src="../../assets/images/win.jpg" />
  </div>  
</div>
