<!-- <div style="text-align:left;padding:40px">
  News and updates are coming soon!<br />
  Click <a href="/contact"style="border-bottom:3px solid rgb(239, 241, 122)">here</a> if you have questions, comments, or feedback.<br /><br />
</div> -->
<div class="row">
  <h2>news</h2>
  <div class="head-line"></div>
  <div class="flex-container">
    <div class="post">
      <h3>EMDR VR Receives Honors/Funding at Global Wellness Summit</h3>
      <a target="_blank" href="http://www.globalwellnesssummit.com/press/press-releases/press-release-global-wellness-summit-names-winner-shark-tank-wellness-student-competition-finalists-present-technology-solutions/">
        press release
      </a><br />
      <img src="../../assets/images/win.jpg" />
    </div>
    <div class="post">
      <h3>Princeton University's TigerLaunch names EMDR VR National Finalist</h3>
      <a target="_blank" href="https://www.tigerlaunch.com/finals#block-yui_3_17_2_55_1489049107771_65116">
        view finalists
      </a><br />
      <!-- <img src="../../assets/images/logo-thumbnail.png" /> -->
    </div>
  </div>
</div>
