div {
  text-align: center;
}

.land-container {
  min-height:80vh;

  div {
    opacity: 0;
  }

  .heading {
    max-width:750px;
    margin:auto;

    h2 {
      font-size:36px;
    }
  }
  .headset {
    text-align: center;
    img {
      max-width:25%;
      margin:auto;
      display: block;
    }
    a {
      display: inline;
      margin:auto;
      font-size:24px;
      border:3px solid rgb(17, 219, 255);
      margin-top:20px;
      padding:10px 20px;
    }
    a:hover {
      transition:0.3s ease-in;
      background:rgb(17, 219, 255);
    }
  }
}

.content {
  div {
    line-height: 40px;
    text-align: left;
  }
  div:nth-child(2) {
    text-align: center;
  }
  img {
    width:50%;
  }
}

@media screen and (min-width:600px) {
  .heading {
    width:70%!important;
    h2 {
      font-size:48px!important;
    }
  }
}
@media screen and (max-width:600px) {
  .headset {
    img {
      max-width: 50%!important;
    }
  }
}

@keyframes fadeIn {
  0% {opacity:0; transform:translateY(-50px)}
  100% {opacity:1;transform:translateY(0)}
}

@keyframes scale {
  0% {opacity:0; transform:translateY(-20px)}
  50% {opacity:1}
  75% {transform:translateY(0);opacity:1}
  100% {opacity:1;transform:translateY(0)}
}

.fadeIn {
  animation:fadeIn 0.7s ease-in;
  animation-fill-mode: forwards;
}

.scale {
  animation:scale 0.7s ease-in;
  animation-fill-mode: forwards;
  animation-delay:1s;
}
