<div class="land-container">
  <div class="heading" [ngClass]="{fadeIn:isLoaded}">
    <h2>ONE STEP CLOSER TO A BETTER REALITY</h2>
  </div>
  <div class="headset" [ngClass]="{scale:isLoaded}">
    <img src="../assets/images/vr.png" />
  </div>
</div>
<div class="content">
  <div class="col-1-2 left">
    <h4>What is EMDR?</h4>
    <p>
      emdr uses a combination of eye movement and voice
      guidance to treat PTSD and
      other anxiety disorders.
    </p>
  </div>
  <div class="col-1-2 left">
    <img src="../assets/images/brain.svg"/>
  </div>
</div>
