<div class="row land-container">
  <div class="heading" [ngClass]="{fadeIn:isLoaded}">
    <h2>ONE STEP CLOSER TO A BETTER REALITY</h2>
  </div>
  <div class="headset" [ngClass]="{scale:isLoaded}">
    <img src="../assets/images/vr.png" />
    <a routerLink="/signup">sign up</a>
  </div>
</div>
<app-blog></app-blog>
<app-signup id="signup"></app-signup>
<div class="row content">
  <div class="col col-1-2 left">
    <h4>What is EMDR?</h4>
    <p>
      emdr uses a combination of eye movement and voice
      guidance to treat PTSD, anxiety disorders, and chronic pain.
    </p>
  </div>
  <div class="col col-1-2 left">
    <img src="../assets/images/brain.svg"/>
  </div>
</div>
